@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-bai-jamjuree: "Bai Jamjuree", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-bai-jamjuree);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bai-jamjuree), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-bai-jamjuree), sans-serif;
}

/* Hide scrollbar but keep scroll */
.no-scrollbar {
  -ms-overflow-style: none;      /* IE/Edge */
  scrollbar-width: none;         /* Firefox */
}
.no-scrollbar::-webkit-scrollbar { /* Chrome/Safari/Opera */
  display: none;
}
